<div class="page-header">
  <a class="backlink" ng-href="#/">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <h1>Case Details</h1>
</div>

<div class="row marketing">

  <ul class="nav nav-tabs">
    <li><a ng-href="#/casedetails/{{case.data.details.id}}">Case Details</a></li>
    <li><a ng-href="#/casetasks/{{case.data.details.id}}">Tasks</a></li>
    <li class="active"><a ng-href="#/casemodel/{{case.data.details.id}}">Case Model</a></li>
    <li><a ng-href="#/casedecisionhistory/{{case.data.details.id}}">Case Decision History</a></li>
    <li><a ng-href="#/caserawdata/{{case.data.details.id}}">Case Raw Data</a></li>
  </ul>

  <div class="col-md-12 top-buffer">

    <section id="cmmn" class="group">

      <div data-render-case-model case-definition="{{case.data.details.caseDefinition}}" highlight-case-activity-ids="{{activeCaseActivityIds()}}"></div>

      <a class="edit-btn-rnd" href="{{caseModelUrl}}{{case.data.details.caseDefinitionId}}"><span class="glyphicon glyphicon-pencil"></span></a>

    </section>
  </div>


</div>



