<div class="page-header">
	<h1>{{getString('Case Dashboard')}}</h1>
</div>

<div class="row marketing">

  <ul class="nav nav-tabs">
    <li><a ng-href="#/">{{getString('dashboard')}}</a></li>
    <li><a ng-href="#/tasklist">{{getString('tasklist')}}</a></li>
    <li class="active"><a ng-href="#/caseinstances">{{getString('allCases')}}</a></li>
    <li><a ng-href="#/casedefinitions">{{getString('caseDefinitions')}}</a></li>
    <li><a ng-href="#/newcase"><span class="glyphicon glyphicon-plus"></span> {{getString('newCase')}}</a></li>
  </ul>

  <div class="row top-buffer">

    <div class="col-md-12">
         
      <div style="float:right; margin-left: 1em;">
        <form class="form-inline" role="form">
          <div class="form-group">
		        <input id="searchText" type="text" class="form-control" placeholder="{{getString('search')}}..." ng-model="searchText">
          </div>
          <div class="form-group">
            <a class="clear" ng-click="searchText=''"><span class="glyphicon glyphicon-remove"></span></a>
          </div>
        </form>
      </div>

      <div style="float:right;">
        <form class="form-inline" role="form">
          <div class="form-group">
            <select id="filterCase" class="form-control" ng-model="selectedCaseDefinition"
                    ng-options="caseDefinition.key for caseDefinition in caseDefinitionsArrayContainer.caseDefinitionList">
		          <option value="">{{getString('filterCase')}}</option>
            </select>
          </div>
        </form>
      </div>

      <h3 style="margin-top:10px;">{{getString('allCases')}}</h3>

    </div>


    <div class="col-md-12"> <!-- 2nd row: Instances Table -->

      <div class="table-responsive">

        <table class="table table-hover">
          <thead>
          <tr>
	    <th>{{getString('businessId')}}</th>
	    <th>{{getString('case')}}</th>
	    <th>{{getString('created')}}</th>
	    <th>{{getString('lastEdited')}}</th>
	    <th>{{getString('status')}}</th>
      <th>{{getString('technicalId')}}</th>
          </tr>
          </thead>
          <tbody>
          <tr
            ng-repeat="case in resultedCases = (casesOverviewArrayContainer.casesList | orderBy: casesOrderCondition.predicate : casesOrderCondition.reverse | filter : {caseDefinition : selectedCaseDefinition.key} : true | filter : searchText)">
            <td><a ng-href="#/casedetails/{{case.id}}"><span class="glyphicon glyphicon-zoom-in"></span> {{case.businessKey}}</a></td>
            <td>{{case.caseDefinition}}</td>
            <td><span ng-if="case.createByAsString">{{case.createByAsString}} at {{case.createDateAsString}}</span></td>
            <td><span ng-if="case.updateByAsString">{{case.updateByAsString}} at {{case.updateDateAsString}}</span></td>
            <td>{{case.state}}</td>
            <td>{{case.id}}</td>
          </tr>
          </tbody>
        </table>

	      <p class="text-right">{{resultedCases.length}} {{getString('caseInstances')}}</p>

      </div>

    </div><!-- /.col -->


  </div>
</div>
